<nav class="navbar bg-body-tertiary">
  <div class="container-fluid navbar-brand d-inline-block align-text-top">
        <%= link_to "#{image_tag("nav_airbnb_icon.png",{:style => "width:32px;"})}".html_safe, root_path %>
        <a>airbnb</a>
  </div>
</nav>